.Window {
  border: 10px solid #000;
  border-image: url("../assets/img/window_decoration.png");
  border-image-slice: 10 10 10 10;
  box-shadow: none;
  height: 1%;
  display: flex;

  &__content {
    display: inline-block;
    background-color: #c0c0c0;
  }

  &__separator {
    border-top: 1px solid #808080;
    border-bottom: 1px solid #ffffff;
    margin-left: 3px;
    margin-right: 3px;
  }

  &__header {
    background-color: #000080;
    width: auto;
    height: 18px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3px;
  }

  &__title {
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 700;
    margin-left: 4px;

    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__icon {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  &__header-right {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    justify-self: center;
    display: flex;
    padding-top: 2px;
    margin-right: 1px;
    margin-left: 4px;
  }

  &__container {
    margin: 2px 4px 4px;
    border: 2px solid #000000;
    border-image: url("../assets/img/entry.png");
    border-image-slice: 2 2 2 2;
  }
}